 <h2 mat-dialog-title>{{ data.title }}</h2>


<mat-dialog-content>
 <h3>To: {{ data.firstName }} {{ data.lastName }}</h3>
  <div>
        <img [src]="data.primaryPhotoUri" width="100" height="100" /> 
  </div>
    <br />
    <mat-form-field>       
        <input matInput [(ngModel)]="data.message" type="text" placeholder="Your Message">      
    </mat-form-field>

  </mat-dialog-content>

 <mat-dialog-actions>
    <button class="mat-raised-button" (click)="onCancel()">Close</button>
    <button class="mat-raised-button mat-accent" mat-button [mat-dialog-close]="data" cdkFocusInitial>Send Message</button>
</mat-dialog-actions>



