 
<h2>ZMA Members</h2>

   <mat-form-field>
    <input matInput placeholder="Search members" #searchInput>   
 </mat-form-field>  

 <div class="spinner-container" *ngIf="loading$ | async">
  <mat-spinner></mat-spinner>
</div>  

  <!-- <div *ngIf="(members$ | async) as members">  -->

 <div>
<mat-grid-list cols="4" rowHeight="225" gutterSize="3px">
  <mat-grid-tile class="members-grid" *ngFor="let member of members">    
   
     <div>        
        <img [src]="member.primaryPhotoUri" width="125" height="125" />        
    </div> 
       <mat-grid-tile-header>
          <div class="header"> 
            {{member.firstName}} {{member.lastName}}
          </div>  
      </mat-grid-tile-header>  

      <mat-grid-tile-footer>
        <div class="footer">
            <button mat-raised-button color="accent" 
            (click)="openSendMessageDialog(member)">Encourage {{member.firstName}}</button>
        </div>        
      </mat-grid-tile-footer> 
  </mat-grid-tile>
</mat-grid-list> 

</div> 

 <mat-paginator [length]="totalCount" 
  [pageSize]="paginationService.pageSize"
  [pageSizeOptions]="paginationService.selectItemsPerPage" 
  (page)="switchPage($event)">
</mat-paginator>  

 

<!-- <mat-grid-list cols="4" rowHeight="100px" gutterSize="3px">
  <mat-grid-tile *ngFor="let tile of tiles" 
  [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
    {{tile.text}}
     <mat-grid-tile-header>
      <h3>Header</h3>
      </mat-grid-tile-header> 

      <mat-grid-tile-footer>
        <h3>Footer</h3>
        </mat-grid-tile-footer> 
  </mat-grid-tile>
</mat-grid-list>  -->