<!-- <mat-toolbar color="primary">   -->
<!-- <button mat-button routerLink="/">ZMA</button> -->
<!-- </mat-toolbar>  -->
<!-- <button mat-button routerLink="/messages">Messages</button>  -->
<!-- <span style="flex: 1 1 auto"></span> -->
<!-- <button *ngIf="!auth.isAuthenticated" mat-button routerLink="/login">Login</button> -->


<mat-toolbar color="accent">
  <button mat-button routerLink="/"><span class="nav-title">ZMA</span></button>
  <button mat-button routerLink="/members"><span class="nav-menu-items">Members</span></button>
</mat-toolbar>

